*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    height: 100%;
    font-weight: 300;
    font-family: sans-serif;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

img {
    width: 50px;
}