form {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2rem;
}

form div:not(.rate) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

form label {
    width: 10rem;
}

form input:not([type="radio"]) {
    width: 24rem;
}

form p,
form input[type="radio"] {
    margin-left: .4rem;
}