<h1>Admin</h1>
<div>
    <a href="index.php?viewUsers=validate">Vis lærere som venter på godkjenning</a>
    <a href="index.php?viewUsers=all">Gi brukere admin tilgang</a>
</div>


{% include 'viewUsers.html' %}