<form method="POST" action="index.php" enctype="multipart/form-data">

    <input type="hidden" name="id" value="{{ video.id }}">
    <label for=" name">Tittel</label>
    <input type="text" name="name" value="{{ video.name }}">
    <label for="description">Beskrivelse</label>
    <textarea name="description" cols="30" rows="10">{{ video.description }}</textarea>
    <label for="thumbnail">Thumbnail</label>
    <input type="file" name="thumbnail">
    <img src="uploadedFiles/{{video.userId}}/{{video.id}}/thumbnail.{{video.fileExtension}}" alt="">
    <input type="submit" name="changeVideo" value="Endre video">
</form>