{% set p = playlist %}

{% if p.playlistId is defined %}
<h2>{{p.title}}</h2>
<img src="uploadedFiles/{{p.userId}}/{{p.playlistId}}/thumbnail.{{p.fileExtension}}">
<h3>Videoene i spillelisten</h3>
<table>
  <tr>
    <th>Thumbnail</th>
    <th>Navn på videoen</th>
    <th>Beskrivelse</th>
    <th>Seertall</th>
    <th>Tidspunkt lagt ut</th>
    <th>Se på?</th>
  </tr>
  {% for v in videos %}
  {% if v.videoName is defined %}
  <tr>
    <td><img src="uploadedFiles/{{v.userId}}/{{v.id}}/thumbnail.{{v.fileExtension}}"></td>
    <td>{{ v.videoName }}</td>
    <td>{{ v.videoDescription }}</td>
    <td>{{ v.views }}</td>
    <td>{{ v.time }}</td>
    <td><a href="index.php?openVideo={{v.videoId}}">Se video</a></td>
  </tr>
  {% endif %}
  {% endfor %}
</table>

<form action="index.php" method="POST">
  <input type="hidden" name="playlistId" value="{{p.playlistId}}">
  <input type="submit" value="abonner på spillelisten" name="subscribe">
</form>

{% endif %}