<div>
	<p>{{videoMessage}}</p>
	{% for v in videos %}
	<h4>{{v.name}}</h4>
	<a href="index.php?openVideo={{v.id}}">Se video</a>
	{% endfor %}

	<p>{{playlistMessage}}</p>
	{% for p in playlists %}
	<h4>{{p.title}}</h4>
	<p>{{p.description}}</p>
	<a href="index.php?openPlaylist={{p.id}}">Se spilleliste</a>
	{% endfor %}

</div>