<h1>Lærer</h1>
<div>
	<a href="index.php?viewVideoForm=1">Last opp en ny video</a>
	<a href="index.php?createPlaylist=1">Opprett en spilleliste</a>
	<a href="index.php?showYourVideos=1">Vis dine videoer</a>
	<a href="index.php?showYourPlaylists=1">Vis dine spillelister</a>
</div>

{% if view == 'videoForm' %}

<form method="POST" action="index.php" enctype="multipart/form-data">

	<label for="name">Tittel</label>
	<input type="text" name="name">
	<label for="description">Beskrivelse</label>
	<textarea name="description" cols="30" rows="10"></textarea>
	<label for="thumbnail">Thumbnail</label>
	<input type="file" name="thumbnail">
	<input type="submit" name="addVideo" value="Publiser video">
</form>

{% endif %}

{% if view == 'editVideo' %}
{% include 'editVideo.html' %}
{% endif %}

{% if view == 'playlistForm' %}

<form method="POST" action="index.php" enctype="multipart/form-data">

	<label for="title">Tittel</label>
	<input type="text" name="title">
	<label for="description">Beskrivelse</label>
	<textarea name="description" cols="30" rows="10"></textarea>
	<label for="thumbnail">Thumbnail</label>
	<input type="file" name="thumbnail" id="thumbnail">
	<label for="topic">Emne</label>
	<input type="text" name="topic">
	<label for="course">Fag</label>
	<input type="text" name="course">

	<h4>Legg til videoer i spillelisten</h4>
	<div>
		<table>
			<tr>
				<th>Thumbnail</th>
				<th>Tittel</th>
				<th>Beskrivelse</th>
				<th>Seertall</th>
				<th>Tidspunkt laget</th>
				<th>Legg til i spillelisten</th>
			</tr>
			{% set id = 1 %}
			{% for v in videos %}
			{% if v.name is defined %}
			<tr>
				<td><img src="uploadedFiles/{{v.userId}}/{{v.id}}/thumbnail.{{v.fileExtension}}" /></td>
				<td>{{ v.name }}</td>
				<td>{{ v.description }}</td>
				<td>{{ v.views }}</td>
				<td>{{ v.time }}</td>
				<td><input type="checkbox" name="videosToAdd[]" value="{{v.id}}" id="{{id}}"></td>
			</tr>
			{% set id = id + 1 %}
			{% endif %}
			{% endfor %}
		</table>
	</div>

	<input type="submit" name="addPlaylist" value="Lag spilleliste">
</form>

{% endif %}

{% if view == 'showVideos' %}

{% include 'viewVideos.html' %}

{% endif %}

{% if view == 'showPlaylists' %}

{% if playlists is defined %}
<h2>Spillelistene dine</h2>
{% for p in playlists %}

<img src="uploadedFiles/{{p.userId}}/{{p.id}}/thumbnail.{{p.fileExtension}}" />
<h3>{{p.title}}</h3>
<p>{{p.description}}</p>
<span>Emne: {{p.topic}}</span>
<span>Fag: {{p.course}}</span>
<a href="index.php?editPlaylist={{p.id}}">Endre spillelisten</a>
<a href="index.php?deletePlaylist={{p.id}}">Slette spillelisten?</a>
<br />
{% endfor %}
{% else %}
<p>{{message}}</p>
{% endif %}
{% endif %}

{% if view == 'editPlaylist' %}

{% include 'editPlaylist.html' %}

{% endif %}