<div>
	{% if videos is defined %}
	<table>
		<tr>
			<th>Thumbnail</th>
			<th>Tittel</th>
			<th>Beskrivelse</th>
			<th>Seertall</th>
			<th>Tidspunkt laget</th>
			<th>Endre?</th>
			<th>Slett?</th>
		</tr>

		{% for v in videos %}
		{% if v.name is defined %}
		<tr>
			<td><img src="uploadedFiles/{{v.userId}}/{{v.id}}/thumbnail.{{v.fileExtension}}" /></td>
			<td>{{ v.name }}</td>
			<td>{{ v.description }}</td>
			<td>{{ v.views }}</td>
			<td>{{ v.time }}</td>
			<td><a href="index.php?editVideo={{v.id}}">Endre</a></td>
			<td><a href="index.php?deleteVideo={{v.id}}">Slett video</a></td>
		</tr>
		{% endif %}
		{% endfor %}
	</table>
	{% else %}
	<p>{{message}}</p>
	{% endif %}

</div>